<div class="container container-fluid">
  <div class="row">
    <div class={{columnClass}}>
      <div class="card card-login">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <p class="text-white text-capitalize text-bold ps-3">
              {{ title }}
            </p>
          </div>
        </div>
        <p class="description text-center">{{ description }}</p>
          <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
